html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;
}

a:link {
	text-decoration: none;
}

p, ul, li, h1, h2, h3, h4, h5, span, blockquote, input {
	font-family: 'Open Sans', sans-serif;
}

.wrap, .nav_wrap { 
	width: 1170px;
	margin: 0 auto;
}

nav {
	height: 80px;
	background: #76c7c0 url('../img/ticks.png') repeat-x bottom;
	margin-top: 0;
}

.nav_wrap {
	height: 80px;
	display: block;
}

.logo {
	color: #FFF;
	float: left;	
}

	.logo span {
		font-size: 30px;
		font-weight: 800;
	}

	.logo p {
		font-size: 25px;
		font-weight: 100;
		margin-top: 14px;
		margin-bottom: 15px;
		float: left;
	}

/*this is ul*/
.nav {
	position: relative;
	list-style-type: none;
	float: left;
	margin-top: 24px;
	margin-left: 330px;
	display: inline;
	width: 600px;
}

.notpushed {
	margin-left: 330px;
    -webkit-transition: margin-left 0.3s; /*to match the searchbox's*/
    -moz-transition: margin-left 0.3s;
    -ms-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}

.pushed {
	margin-left: 150px;
    -webkit-transition: margin-left 0.3s;
    -moz-transition: margin-left 0.3s;
    -ms-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}
	.nav li {
		display: inline;
	}

	.nav i {
		padding-right: 3px;
	}

	.nav li a:link, .nav li a:visited {
		font-size: 13px;
		text-transform: uppercase;
		color: #FFF;
		padding: 5px 10px;
		margin-right: 5px;
	}
	/*TO NOT LET THE HOVER EFFECT DISAPPEAR ON MOUSEOUT, THE HOVER STATE NEEDS TO BE ON THE LI*/
	.nav li a:hover {
	    -webkit-box-shadow: 0px 4px 0px #e2534b;
	    -moz-box-shadow: 0px 4px 0px #e2534b;
	    box-shadow: 0px 4px 0px #e2534b;
	    background: #e5655d;
	    border-radius: 5px;
	}

	.nav li .active {
	    -webkit-box-shadow: 0px 4px 0px #528b86;
	    -moz-box-shadow: 0px 4px 0px #528b86;
	    box-shadow: 0px 4px 0px #528b86;
	    background: #62a29e;
	    border-radius: 5px;
	}

	.nav li:hover>ul {
		display: inline-block;
	}

		.idontexist {
			height: 30px;
			width: 180px;
			top: -30px;
			left: 0;
			position: absolute;
			z-index: -1;
		}

		.arrow-up {
			background: url("../img/arrow_up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			height: 7px;
			width: 14px;
			position: absolute;
			top: -16px;
			left: 13px;
			width: 180px;
		}

		.subnav {
			display: none;
			float: none;
			position: absolute;
			top: 40px;
			left: 260px;
			width: 180px;
			z-index: 10;
			padding: 2px 0 2px 8px;
			font-size: 10px;

		    background: #e2534b;
		    border-radius: 5px;
		}

		.subnav li {
			display: inline-block;
			margin: 10px 0;
		}

		.subnav li a:link, .subnav li a:visited {
			padding: 5px 10px;
		    background: #e5655d;
		    border-radius: 5px;
			/*clears inherited*/
			text-transform: none;
			margin-right: 0;
		}

		.subnav li a:hover {
		    -webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    box-shadow: none;
		    background: #76c7c0;
		    border-radius: 5px;
			z-index: 11;
		}

/*						searchbox 						*/
		.search_cont {
			width: 200px;
			margin-top: 26px;
			margin-left: -200px;
			float: right;
		}

		.searchbox {
			position: relative;
			height: 20px;
			width: 0; /* so the transitions work */
			float: right;
			min-width: 30px;
		    overflow:hidden;
		    -webkit-transition: width 0.3s;
		    -moz-transition: width 0.3s;
		    -ms-transition: width 0.3s;
		    -o-transition: width 0.3s;
		    transition: width 0.3s;
		}

		.searchbox-open{
		 	width: 220px;
		}

		.searchbox-input {
			position: absolute;
			top: 0;
			right: 0;
		    background:#dcddd8;
		    /*width: 220px; don't need */
		    margin:0;
		    padding-left: 5px;

		}

		.searchbox-icon,
		.searchbox-submit{
			 width: 30px;
			 height: 20px;
			 display:block;
			 position:absolute;
			 top:0;
			 right:0;
			 padding:0;
			 border: none;
			  text-align:center;
			  background: #76c7c0;
			  line-height: 17px; /*had a discrepancy btwn the button and the span*/
			  cursor: pointer; /*want this for UI*/
		}

/*						Slider 						*/

.slider {
	height: 340px;
	width: 100%;
	position: relative;
	text-align: center;
	padding-top: 160px;
	overflow: hidden;
}

	.slider li {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -99;
	}

	.slider a {
		color: #FFF;
	}

	.slider_center {
		margin: 0 auto;
		color: #FFF;
		z-index: 99;
	}

		.slider_center h1 {
			background-color: #e2534b;
			border-radius: 5px;
			margin: 0 auto;
			width: 350px;
			font-size: 50px;
		}

		.slider_center p {
			background-color: #3f4646;
			border-radius: 5px;
			margin: 10px auto;
			width: 450px;
			padding: 10px;
			font-weight: 300;
		}

	.slider_left {
	    -webkit-box-shadow: 0px 4px 0px #e2534b;
	    -moz-box-shadow: 0px 4px 0px #e2534b;
	    box-shadow: 0px 4px 0px #e2534b;
	    background: #e5655d;
	    border-radius: 5px;
	
		position: absolute;
		left: -2px;
		top: 220px;
		width: 50px;
		height: 50px;
	}

	.slider_right {
	    -webkit-box-shadow: 0px 4px 0px #e2534b;
	    -moz-box-shadow: 0px 4px 0px #e2534b;
	    box-shadow: 0px 4px 0px #e2534b;
	    background: #e5655d;
	    border-radius: 5px;
	
		position: absolute;
		right: -2px;
		top: 220px;
		width: 50px;
		height: 50px;
	}
	
	.slider_right:hover, .slider_left:hover {
	    -webkit-box-shadow: 0px 4px 0px #528b86;
	    -moz-box-shadow: 0px 4px 0px #528b86;
	    box-shadow: 0px 4px 0px #528b86;
	    background: #62a29e;
	}

.slider_controls {
	margin: 15px auto;
	width: 250px;
}

.slider_controls .rect {
	width: 60px;
	height: 6px;
	display: inline-block; /*NOT FLOAT*/
	margin: 0 5px;
	background-color: #b0b8b9;
}



/*						Bodygottagetmesomebody 						*/

button {
    border: 0;
	border: medium none;
	border-spacing: 0;
	color: #FFF;
}
	
.main h2, .main h4 {
	color: #7f8c8c;
}

.main p, .main ul {
	color: #777;
	font-size: 12px;
}

.services {
	background-color: #ececec;
	border-radius: 5px;
	padding: 15px 20px;
}

.services h2 {
	font-size: 30px;
	font-weight: 400;
	margin: 10px 0;
}

.view_more { /*this is service's button*/
    -webkit-box-shadow: 0px 4px 0px #e2534b;
    -moz-box-shadow: 0px 4px 0px #e2534b;
    box-shadow: 0px 4px 0px #e2534b;
    background: #e5655d;
    border-radius: 5px;

	width: 200px;
	height: 60px;
	float: right;
	margin: 15px 10px 0 0;
}

	.view_more:hover {
	    -webkit-box-shadow: 0px 4px 0px #528b86;
	    -moz-box-shadow: 0px 4px 0px #528b86;
	    box-shadow: 0px 4px 0px #528b86;
	    background: #62a29e;
	}

.view_more p {
	color: #FFF;
	font-size: 20px;
	margin-top: 17px;
}


.four_services { /*section class*/
	margin: 50px 0;
	display: inline-block; /*to push the bottom down*/
}

	.four_services i {
		color: #76c7c0;
	}

	.four_services h4 {
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 10px;
	}

	.four_services p {
		line-height: 20px;
	}
	
	.four_services button {
	    -webkit-box-shadow: 0px 4px 0px #62b9b0;
	    -moz-box-shadow: 0px 4px 0px #62b9b0;
	    box-shadow: 0px 4px 0px #62b9b0;
	    background: #76c7c0;
		border-radius: 5px;
		
		font-size: 14px;
		color: #FFF;
		width: 200px;
		height: 50px;
		position: absolute;
		bottom: -20px;
		left: 35px;
	}

	.first, .second, .third, .fourth {
		border-radius: 5px;
		background-color: #f8f8f8;
	    -webkit-box-shadow: 0px 4px 0px #e5e6e6;
	    -moz-box-shadow: 0px 4px 0px #e5e6e6;
	    box-shadow: 0px 4px 0px #e5e6e6;
	
		box-sizing: border-box;  /*need this to ignore padding, duh*/
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	
		width: 270px;
		height: 310px;
		position: relative;
		float: left;
		text-align: center;
		padding: 50px 15px 0;
	}
	
	.first, .second, .third {
		margin-right: 30px;
	}
	
	/*hover styles*/
	
		.first:hover, .second:hover, .third:hover, .fourth:hover {
			background-color: #FFF;
		}
	
		.first:hover i, .second:hover i, .third:hover i, .fourth:hover i { /*bind the i's hover state to the parent*/
			color: #e2534b;
		}
	
		.four_services button:hover {
		    -webkit-box-shadow: 0px 4px 0px #e2534b;
		    -moz-box-shadow: 0px 4px 0px #e2534b;
		    box-shadow: 0px 4px 0px #e2534b;
		    background: #e5655d;
		}

/*						WHY US mid section						*/	
		
.fullbg { 
	background: #ececec url('../img/ticks2.png') repeat-x top;
}

.whyus {
	padding: 50px 0;
	height: 400px;
	margin-bottom: 200px;
	
	box-sizing: border-box;  /*need this to ignore padding, duh*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

	.head {
		text-align: center;
	}

	.head h1 {
		color: #e1524b;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 40px;
		margin-bottom: 0;
	}
	
	.head p {
		margin-top: 0; /*dumb because this wasn't reset*/
	}

	.yourimage {
		margin-top: 50px;
	}

/*		WHYCHOOSE		*/

.whychoose .left, .whychoose .center, .whychoose .right {
	box-sizing: border-box;  /*need this to ignore padding, duh*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

	.whychoose h4 {
		margin-top: 10px;
	}

	.left, .right { /*these are asides*/
		width: 300px;
		float: left;
	}

	.center {
		width: 570px;
		height: 260px; /*dictates space btwn this section and happy clients*/
		float: left;
		text-align: center;
	}	

	.left li {
		list-style-type: none;
	}

	.left li:before {
		content: '\f061';
		font-family: FontAwesome; 
		display: inline-block;
		margin-left: -3.2em; 
		width: 1.3em;
		color: #e1524b;
		line-height: 25px;
	}

	.guage { 
		float: left;
		width: 120px;
		text-align: center;
		margin: 30px 30px 0 0;
		position: relative; /*so the h5 will be absolute*/
	}
	
	.guage h4 {
		position: absolute;
		width: 120px; /*so it can be centered*/
		text-align: center;
		top: 60px;
		text-transform: uppercase;
	}

	.guage:last-child {
		margin-right: 0;
	}

	.right {
		padding-left: 25px;
	}
	
	.right p {
		margin-left: 70px;
		margin-top: 0;
		font-size: 18px;
		font-weight: 400;
	}

	blockquote {
		font-size: 13px;
		font-style: italic;
		font-weight: 300;
		color: #777;
		
		background-color: #f8f8f8;
		border-radius: 2px;
		position: relative;
		padding: 10px 13px;
		width: 90%;
		margin-left: 0;
	}
	
	blockquote:after {
		width: 0; 
		height: 0; 
		border-bottom: 20px solid transparent;
		border-right: 25px solid #f8f8f8;
		position: absolute;
		bottom: -20px;
		content: "";
		left: 30px;
		display: block;
	}

/*		CLIENTS		*/

.clients {
	clear: both;
	height: 50px;
}

	.clients h4 {
		display: block;
		float: left;
		margin-top: 8px;
	}

	.clients_border {
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid #e1e2e2;
	    margin: 20px 30px 0;
	    padding: 0;
		float: left;
		width: 870px;
		position: relative;
	}
	
	.clients_border:before {
		content:"\f111";
		font-family: FontAwesome;
		font-size: 8px;
		color: #e1e2e2;
		position: absolute;
		top: -4px;
	}

	.clients_btns {
		float: right;
	}
	
	.clients i {
		padding-top: 5px;
	}

	.clients_next, .clients_prev {
	    -webkit-box-shadow: 0px 4px 0px #7f8c8c;
	    -moz-box-shadow: 0px 4px 0px #7f8c8c;
	    box-shadow: 0px 4px 0px #7f8c8c;
	    background: #98a3a3;
		height: 40px;
		width: 40px;
		border-radius: 5px;
	}

	.clients a {
		color: #FFF;
	}
	
	.clients_prev {
		margin-right: 10px;
	}

	.clients_next:hover, .clients_prev:hover {
	    -webkit-box-shadow: 0px 4px 0px #e2534b;
	    -moz-box-shadow: 0px 4px 0px #e2534b;
	    box-shadow: 0px 4px 0px #e2534b;
	    background: #e8645a;
	}
	
	.clients_wrap {
		display: block;
		float: left;
		margin: 30px 0 50px;
	}
	
		.clients .client {
			width: 170px;
			height: 90px;
			border-radius: 5px;
			background: #f8f8f8 url('../img/jquerylogo.png') no-repeat center;
			margin-right: 30px;
			float: left;
		}
	
		.clients .client:last-child {
			margin-right: 0;
		}
	
footer {
	clear: both;
	background: #76c7c0 url('../img/tics_footer.png') repeat-x top;
	padding-top: 35px;
	margin: 0;
}

footer a:hover {
	color: #497e79;
}

	footer p, footer li {
		color: #FFF;
		font-size: 12px;
		line-height: 24px;
	}
	
	footer li i {
		padding-right: 9px;
	}
	
	footer a {
		color: #FFF;
	}
	
	footer ul {
		list-style-type: none;
		padding-left: 30px;
	}
	
	footer h3 {
		color: #497e79;
	}

	.info {
		float: left;
		width: 370px;
		margin-right: 60px;
		margin-bottom: 40px; /*using this to push down footer_btm lol*/
	}
	
		.info p {
			display: inline-block;
		}
	
		.info_contact {
			font-size: 19px;
			font-style: italic;
			padding-left: 10px;
		}

	.company {
		float: left;
		margin-right: 60px;
	}

	.community {
		float: left;
		margin-right: 90px;
	}

	.from_blog {
		float: left;
		width: 330px;
	}
	
		.from_blog h4 {
			color: #FFF;
			font-style: italic;
			font-weight: 100;
			font-size: 20px;
			margin-top: 16px;
		}
		
		.from_blog span {
			font-style: normal;
			font-weight: 700;
		}
		
	.post {
		margin-bottom: 30px;
	}
		
		.post_pic {
			width: 70px;
			height: 70px;
			border-radius: 5px;
			background-color: #5e9f9a;
			float: left;
			margin-right: 20px;
		}
		
		.post p {
			line-height: 16px;
			margin-bottom: 4px;
		}
		
		.post span {
			color: #497e79;
			font-size: 12px;
			font-weight: 100;
			
		}
		
		.post_pic i {
			margin: 18px;
			color: #bad3d1;
		}

.footer_btm { /*this is a section*/
	clear: both;
	background-color: #6ab3ac;
	height: 50px;
	padding-top: 10px;
}

.footer_btm p {
	width: 200px;
	float: left;
}

	.icons {
		float: right;
		padding-top: 10px;
	}
	
	#fb, #g, #t, #rss {
		float: left;
		margin-left: 20px;
	}

	#fb {
		background: url('/img/sprites.png') no-repeat -4px 0;
		width: 10px;
		height: 22px;
	}
	
	#g {
		background: url('/img/sprites.png') no-repeat -44px 0;
		width: 22px;
		height: 23px;
	}
	
	#t {
		background: url('/img/sprites.png') no-repeat -92px 0;
		width: 17px;
		height: 22px;
	}
	
	#rss {
		background: url('/img/sprites.png') no-repeat -134px 0;
		width: 22px;
		height: 21px;
	}
