body {
  background-color: #f3f3f3; }

p {
  font-size: 12px;
  color: #777 !important; }

button, .button {
  background-color: #e5655d;
  -webkit-box-shadow: 0px 4px 0px #e2534b;
  -moz-box-shadow: 0px 4px 0px #e2534b;
  box-shadow: 0px 4px 0px #e2534b;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  width: 200px;
  height: 50px; }

.row.full-width {
  width: 100%;
  max-width: 100%; }

.logo {
  display: inline;
  float: left; }

.logo:before {
  content: "MODUS";
  font-size: 30px;
  font-weight: 900;
  color: #fff; }

.logo:after {
  content: "versus";
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  margin-left: 2px; }

.topbar-inner {
  padding-left: 170px;
  padding-top: 20px;
  margin-bottom: -20px; }

.topbar {
  height: 80px;
  background: #76c7c0;
  background-image: url(../img/ticks.png);
  background-position: left bottom; }
  .topbar ul {
    list-style: none;
    position: relative;
    padding-left: 30px;
    display: inline-block; }
    .topbar ul a {
      color: #fff; }
    .topbar ul li {
      display: inline-block;
      float: left;
      margin: 0 20px;
      padding: 5px 10px; }
      .topbar ul li:hover {
        -webkit-box-shadow: 0px 4px 0px #e2534b;
        -moz-box-shadow: 0px 4px 0px #e2534b;
        box-shadow: 0px 4px 0px #e2534b;
        background: #e5655d;
        border-radius: 5px; }
      .topbar ul li .active {
        -webkit-box-shadow: 0px 4px 0px #528b86;
        -moz-box-shadow: 0px 4px 0px #528b86;
        box-shadow: 0px 4px 0px #528b86;
        background: #62a29e;
        border-radius: 5px;
        padding: inherit; }
    .topbar ul li:hover > ul {
      display: inline-block;
      border-radius: 5px;
      background: #e2534b;
      z-index: 99;
      width: 180px; }
    .topbar ul ul {
      display: none;
      position: absolute;
      top: 52px;
      left: 377px;
      font-size: 13px; }
      .topbar ul ul li {
        float: none;
        /*makes the submenu vertical*/
        margin-left: -20px;
        background: #e5655d;
        margin-bottom: 2px;
        border-radius: 5px;
        width: 160px; }
        .topbar ul ul li:hover {
          background: #76c7c0; }

.orbit-bullets li {
  width: 60px;
  height: 6px;
  border-radius: 0; }

.orbit-bullets li.active {
  background: #e2534b; }

.boxescont {
  background: #fff;
  border-radius: 5px;
  margin: 0 10px;
  width: 23%; }
