$body-font-family: 'Open Sans', sans-serif;
$teal: #76c7c0;
$grapefruit: #e2534b;
$grapefruit-lt: #e5655d;

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow:$top $left $blur $color;
  -moz-box-shadow:$top $left $blur $color;
  box-shadow:$top $left $blur $color;
}

body {
	background-color: #f3f3f3;
}

p {
	font-size: 12px;
	color: #777 !important;
}

button, .button {
	background-color: $grapefruit-lt;
	@include box-shadow(0px, 4px, 0px, $grapefruit);
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	width: 200px;
	height: 50px;
}
	
.row.full-width {
	width: 100%;
	max-width: 100%;
}

.logo {
	display: inline;
	float: left;
}


.logo:before {
	content: "MODUS";
	font-size: 30px;
	font-weight: 900;
	color: #fff;
}

.logo:after {
	content: "versus";
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	margin-left: 2px;
}

.topbar-inner {
	padding-left: 170px;
	padding-top: 20px;
	margin-bottom: -20px;
}

.topbar {
	height: 80px;
    background: $teal;
    background-image: url(../img/ticks.png);
	background-position: left bottom;
	
		ul {
			list-style: none;
			position: relative;
			padding-left: 30px;
			display: inline-block;
			
			a {
				color: #fff;
			}
			
			li {
				display: inline-block;
				float: left;
				margin: 0 20px;
				padding: 5px 10px;
				
   	   	 	 &:hover {		  
   		 	      @include box-shadow(0px, 4px, 0px, $grapefruit);
   		 	      background: $grapefruit-lt;
   	   	   		  border-radius: 5px;
				 
   	   	 	    }
				
				.active {
				  @include box-shadow(0px, 4px, 0px, #528b86);
				  background: #62a29e;
				  border-radius: 5px;
				  padding: inherit;
				} 
				
	   	 	 		
			}
			
			li:hover > ul {
				display: inline-block;
				border-radius: 5px;
				background: $grapefruit;
				z-index: 99;
				width: 180px;
				
				
				
			}
			
			ul {
				display: none;
				position: absolute;
				top: 52px;
				left: 377px;
				font-size: 13px;
				
				li {
					float: none; /*makes the submenu vertical*/
					margin-left: -20px;
					background: $grapefruit-lt;
					margin-bottom: 2px;
					border-radius: 5px;
					width: 160px;
					
					&:hover {
						background: $teal;
					}
				}
			}
		}


}

.orbit-bullets li {
	width: 60px;
	height: 6px;
	border-radius: 0;
}

.orbit-bullets li.active {
	background: $grapefruit;
}

.boxescont {
	background: #fff;
	border-radius: 5px;
	margin: 0 10px;
	width: 23%;
}

